.DS_Store
.project
/build/
/users/*
!/users/sshjumpuser
setEnvironment.sh
src/users.tar
src/config/ssmtp.conf
src/config/etc/ssh/ssh_host_*
src/scripts/firewall-rules.sh
docker-qnap.sh
/image.key
/image.drawio
/image.drawio2
