.DS_Store
.project
.dbbeaver
build/docker-compose.yaml
setEnvironment.sh
src/config/ssmtp.conf
src/scripts/ssh_logger.sh
src/scripts/firewall-rules.sh
src/config/authorized_keys
build/image/alpine-sshd.tar
